.container-banner {
    background: rgb(0, 157, 255) url("../img/pattern.png");
    background-size: contain;
    height: 80px;
    position: relative;
    margin-bottom: 12px;
}

#logo-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    padding: 10px 0px;
}

main>h1 {
    font-size: 28px;
}

section {
    margin-bottom: 14px;
    font-size: 11px;
}

.writing-text {
    font-size: 10px;
    color: grey;
}

.lightblue {
    color: rgb(0, 157, 255);
}

.data-text {
    font-size: 8px;
    margin-bottom: 12px;
}

.images-tim {
    margin-top: 15px;
}

.image-tim {
    height: 200px;
}

.writing-text-photo {
    font-size: 8px;
    color: black;
}

.yellow {
    background-color: yellow;
}